/* ------------------------------ RESET CSS ---------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1d1d1d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#fff;
}
/* --------------------------------------------------------------------------------------------- */

/* ------------------------------ HEADER ------------------------------------------------------- */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 200px;
}
.logo > img{
    width:100%;
}
nav{
    width: 100%;
}

.bi-list{
    display: none;
}

ul{
    display: flex;
    justify-content: space-between;
    /*color: #fff;*/
    list-style: none;
}
.boton-iniciar, .boton-cerrar{
    background: #8d399b;
    border-radius: 50px;
    width: 140px;
    height: 40px;
    box-shadow: 3px 3px;
}
.botones{
    display: none;
}
.botones{
    animation: desplegar 0.8s forwards;
    transition: max-height 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
}
@keyframes desplegar{
    from{
        max-height: 0;
        opacity: 0;
        visibility: hidden;
    }
    to{
        max-height: 100px;
        opacity: 1;
        visibility: visible;
    }
}
/* --------------------------------------------------------------------------------------------- */

/* --------------------------------------- PRODUCTOS ------------------------------------------- */
.texto-productos > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-style: oblique;
}
.texto-productos > div > p{
    text-align: end;
    margin: 2%;
}
.contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4%;
}
.productos{
    width: 300px;
    height: 230px;
    margin: 2%;
}
.productos > img, p{
    width: 100%;
    text-align: center;
}
/* --------------------------------------------------------------------------------------------- */

/* --------------------------------------- TESTIMONIOS ----------------------------------------- */
.testimonio{
    background: #111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.testimonio > div{
    background: #262626;
    width: 330px;
    height: 220px;
    /*border: 2px solid #f00;*/
    margin: 1%;
    border-radius: 10px;
}
.testimonio > div > img{
    position: absolute;
    border-radius: 10px;
}
.testimonio > div > p, h5{
    margin-left: 70px;
    text-align: left;
    width: fit-content;
}
/* --------------------------------------------------------------------------------------------- */

/* --------------------------------------- TECNOLOGÃAS ----------------------------------------- */
.fondo-tecnologias{
    background: linear-gradient(to right, #34103d, #1d1d1d);
}
.contenedor-tecnologias{
    width: 50%;
    margin: 45px 0 0 100px;
}
.contenedor-tecnologias > div{
    display: flex;
    justify-content: center;
}
.tecnologias{
    width: 50px;
    margin: 2.5%;
    text-align:center;
}
.tecnologias > img{
    width: 100%;
}
.codigo-fortrain{
    background: linear-gradient(#8f8fff, #ff8adc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
aside{
    width: 30%;
    right: 10%;
    position: absolute;
}
.texto-codigo-fortrain{
    margin: 0 0 20px 0;
}
@media(max-width: 980px){
    header{
        flex-direction: column;
    }
    .col-6{
        display: flex;
        justify-content: center;
    }
    aside{
        position: relative;
        width: 100%;
    }
    .contenedor-tecnologias{
        display: flex;
        flex-direction: column;
    }
    .bi-list{
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    ul{
        display: none;
    }
    .bi-list:hover + ul{
        display: block;
        flex-direction: column;
    }
}
/* --------------------------------------------------------------------------------------------- */

/* ----------------------------------- FOOTER -------------------------------------------------- */
footer{
    background: #111;
}
footer > div{
    background: #111;
    display: flex;
    justify-content: space-evenly;
    margin: 10% 10% 1% 10%;
}
footer > .footer-final{
    display: flex;
}
footer > .footer-final > div{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.footer-final > .redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-list >ul{
    display: flex;
    flex-direction: column;
}
.underline{
    text-decoration: underline;
    color: #6d6d6d;
}
@media(max-width:750px){
    footer> div{
        margin: 0;
        flex-wrap: wrap;
    }
    .row-4{
        flex-wrap: wrap;
    }
    .row-4 p{
        display: none;
    }
}
@media(max-width:420px){
    footer > .footer-final{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* --------------------------------------------------------------------------------------------- */

/* ----------------------------------- REGISTRO ------------------------------------------------ */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
/* --------------------------------------------------------------------------------------------- */
/* -------------------------------------- PIC-1 ------------------------------------------------ */
.primera-seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.text-izq{
    width: 50%;
}
.text-izq > p{
    text-align: justify;
}
.img-der{
    display: flex;
    justify-content: center;
}
.img-der > img{
    width: 50%;
    border-radius: 10px;
}
.boton-productos{
    background: #FFFFFF1A;
    border-radius: 50px;
    width: 140px;
    height: 40px;
    box-shadow: 3px 3px;
    color: #fff;
}
.segunda-seccion > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.segunda-seccion > div > div{
    display: flex;
}
.segunda-seccion > div > div > button{
    margin: 2%;
}
/* --------------------------------------------------------------------------------------------- */